*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, .wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: darkred;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: left;
  padding: 20px;
  padding-top: 10 px;
  color: whitesmoke;
}