*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, .wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: darkred;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  font-size: 40px;
  padding: 20px;
  padding-top: 10 px;
  color: whitesmoke;
}

.card {
  background-color: black;
  color: whitesmoke;
  border-radius: 10px;
  border-width: 5px;
  font-size: 20px;
  padding: 30px, 40px;
  max-width: 800px;
  margin: 0 auto;
}

.card {
  background-color: black;
  color: whitesmoke;
  border-radius: 10px;
  border-width: 5px;
  font-size: 20px;
  padding: 30px, 40px;
  max-width: 800px;
  margin: 0 auto;
}


.card-header {
  height: 50px;
  max-width: 800px;
  background: whitesmoke;
  color: black;
  display: block;
  text-align: center;
}

.card-footer {
  text-align: center;
}

.btn {
  border: none;
  display: inline-block;
  font-size: 25px;
  background-color: darkred;
  color: whitesmoke;
  line-height: 25px;
  text-align: center;
  margin: 15px 15px 15px 20px;
  padding: 14px 34px;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: black;
  color: whitesmoke;
  text-align: center;
}
